<img id="portrait" src="{{ '/assets/images/Profile.jpg' | relative_url }}" alt="">

<div class="year" style="font-size:19pt; font-weight: 300">
  <b class="name">NILESH</b> HEGDE
</div>

<div class="affiliation">
  Predoc<br/>
  Booth School of Business<br/>
  University of Chicago
</div>

<div><i class="fa fa-fw fa-map-marker"></i> Chicago, IL</div>
<div><i class="fa fa-fw fa-envelope"></i> first_name[dot]last_name<br>
<span class="email-line2">[at]chicagobooth[dot]edu</span></div>
<div><a href="https://github.com/nilesh-hegde"><i class="fa fa-fw fa-github"></i> Github</a></div>
