<img id="portrait" src="{{ '/assets/images/header.jpg' | relative_url }}">

<div class="year" style="font-size:19pt; font-weight: 300">
  <b class="name">NILESH</b> HEGDE
</div>

<div class="affiliation">
  Predoctoral Research Professional<br/>
  University of Chicago Booth School of Business
</div>

<div><i class="fa fa-fw fa-map-marker"></i> Chicago, IL</div>
<div><i class="fa fa-fw fa-envelope"></i> <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#78;&#105;&#108;&#101;&#115;&#104;&#46;&#72;&#101;&#103;&#100;&#101;&#64;&#99;&#104;&#105;&#99;&#97;&#103;&#111;&#98;&#111;&#111;&#116;&#104;&#46;&#101;&#100;&#117;">&#78;&#105;&#108;&#101;&#115;&#104;&#46;&#72;&#101;&#103;&#100;&#101;&#64;&#99;&#104;&#105;&#99;&#97;&#103;&#111;&#98;&#111;&#111;&#116;&#104;&#46;&#101;&#100;&#117;</a></div>
<div><a href="https://github.com/nilesh-hegde"><i class="fa fa-fw fa-github"></i> Github</a></div>
