<img id="portrait" src="{{ '/assets/images/header.jpg' | relative_url }}">

<div class="year" style="font-size:19pt; font-weight: 300">
  <b class="name">NILESH</b> HEGDE
</div>

<div class="affiliation">
  Predoc<br/>
  Booth School of Business<br/>
  University of Chicago
</div>

<div><i class="fa fa-fw fa-map-marker"></i> Chicago, IL</div>
<div>
  <i class="fa fa-fw fa-envelope"></i>
  <object class="email-svg" type="image/svg+xml" data="{{ '/assets/email.svg' | relative_url }}" width="240" height="24"></object>
</div>
<div><a href="https://github.com/nilesh-hegde"><i class="fa fa-fw fa-github"></i> Github</a></div>
